<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TurboTurn</title>
  <link rel="icon" type="image/png" href="../images/favicon_turbo.png?v=1" />
  <link rel="stylesheet" href="../styles/main.css?v=25" />
</head>
<body>
  <script>
    const usuario = JSON.parse(localStorage.getItem("usuario"));
    if (!usuario) {
      window.location.href = "./login.html";
    } else if (usuario.rol === "admin") {
      window.location.href = "./panel-admin.html?v=10";
    } else if (usuario.rol === "taller") {
      window.location.href = "./panel-taller.html?v=11";
    } else if (usuario.rol === "mecanico") {
      window.location.href = "./panel-mecanico.html?v=10";
    } else {
      window.location.href = "./panel-usuario.html?v=10";
    }
  </script>
</body>
</html>
